.copyrightData {
  font-size: 0.8rem;
  color: #999;
  font-weight: 300;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.875rem;

  a {
    color: #333;
    &:hover {
      text-decoration: underline;
    }
  }
}
