.copyrightData {
  font-size: 0.8em;
  color: #999;
  font-weight: 300;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;

  a {
    color: #333;
    &:hover {
      text-decoration: underline;
    }
  }
}
