@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

header {
  box-sizing: border-box;
  background-color: #fafafa;
}

.navWrapper {
  min-height: 9.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 0;

  .logo {
    width: 7.625rem;
    padding-left: 3.125rem;
    cursor: pointer;
  }

  .middleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 21.5rem);
    padding: 0 2.188rem;

    .searchBarContainer {
      margin-right: 1.875rem;
      width: calc(100% - 15.625rem);
    }

    .about {
      border: none;
      width: 4.375rem;
      height: 4.375rem;
      cursor: pointer;
      padding: 0;
      border-radius: 50%;
      background-color: transparent;

      svg {
        fill: #333;
      }

      @media (max-width: 28.125rem) {
        display: none;
      }
    }
  }
}

.githubWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;

  .githubCornerAnchor {
    svg {
      fill: #151513;
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
    }
    .octoArm {
      transform-origin: 8.125rem 6.625rem;
      @media (max-width: 31.25rem) {
        animation: octocat-wave 560ms ease-in-out;
      }
    }
    &:hover {
      .octoArm {
        animation: octocat-wave 560ms ease-in-out;
      }

      @media (max-width: 31.25rem) {
        animation: none;
      }
    }
  }
}
