.noResultsContainer {
  text-align: center;
  margin: 1rem 0;
}

.resultsContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
